# copied files
./Chainable.js
./ChainedMap.js
./ChainedMapExtendable.js
./ChainedSet.js
./index.js

node_modules
.idea

.nyc_output
.fliphub
coverage

npm-debug.log
*.log.*
lerna-debug.log

.DS_Store
.eslintcache

dist
built
build
public

tmp
_tmp
.tmp
.happypack

.idea
.vscode
